* {
  box-sizing: border-box;
}

body {
  margin: 2em 0em;
}
.wrap {
  display: flex;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.do svg {
  margin-top: 1em;
}

.do {
  margin-left: 2em;
  width: 50%;
}

.re {
  width: 50%;
}

nav {
  padding-top: 1em;
  padding-left: 16.5em;
}

.re li {
  list-style: none;
  display: inline;
  margin-left: 2.5em;
}

.re a {
  font-size: 1.5em;
}

.re li a {
  color: black;
  font-family: "Open Sans", sans-serif;
}

.re a:hover {
  text-decoration: none;
  color: blueviolet;
}

section {
  margin-top: 3em;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-left: 0;
}

.box1 {
  padding: 2em 3em;
  width: 100%;
}

.box1 h1 {
  font-size: 2.4em;
}

.box1 p {
  font-size: 18px;
  width: 95%;
}

.box2 {
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/3;
}

.pic1 {
  width: 100%;
}

.wrapper {
  display: flex;
}

.mails {
  width: 60%;
}

.but {
  width: 35%;
}

#e-mail {
  width: 100%;
  padding: 0.5em 0.8em;
  border-style: none;
  margin-top: 1em;
  border: 1px solid black;
}

.get {
  width: 80%;
  margin-top: 1em;
  padding: 0.6em;
  margin-left: 0.6em;
  background-color: hsl(224, 93%, 58%);
  border-style: none;
  color: white;
}

.pic2 {
  width: 100%;
  padding-top: 2.5em;
}

main {
  margin-top: 5em;
  background: #f9f8fe;
}

.box3,
.box4 {
  width: 100%;
  padding: 2em 1em;
  padding-bottom: 4em;
}

.box4 {
  grid-column: 2/3;
  grid-row: 1/3;
}

.box3 p {
  width: 90%;
  padding: 0;
  font-size: 15px;
  margin-top: 1em;
}

.box3 h1 {
  font-size: 2em;
}

.row a {
  color: hsl(170, 45%, 43%);
}

main a:hover {
  text-decoration: none;
  color: hsl(170, 45%, 43%);
}

.dash {
  border: 0.5px solid hsl(170, 45%, 43%);
  width: 10em;
}

blockquote {
  margin-top: 2em;
  background-color: white;
  padding: 2em;
  width: 70%;
  border-radius: 1%;
  padding-bottom: 5em;
  box-shadow: 1px 1px 3px gray;
}

.quote p {
  font-size: 15px;
  padding: 0;
  width: 93%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.face,
.kb {
  float: left;
}

.face {
  border-radius: 50%;
  width: 13%;
}

.kb {
  font-size: 14px;
  line-height: 1.3;
  margin-top: 0.1em;
  margin-left: 1em;
}

.wasp {
  display: flex;
}

.box5 {
  background-color: hsl(238, 22%, 44%);
  color: white;
  padding: 5em 3em;
}

.box5 p {
  margin-top: 1em;
  font-size: 18px;
  width: 90%;
}

.box6 {
  background-color: hsl(238, 22%, 44%);
  padding-left: 7em;
  padding: 5em 3em;
}

#email {
  width: 85%;
  padding: 0.5em 0.8em;
  border-style: none;
  margin-top: 1em;
  border-radius: 2px;
}

.button {
  width: 40%;
  padding: 0.5em;
  margin-top: 0.9em;
  background-color: hsl(224, 93%, 58%);
  border-style: none;
  color: white;
}

.para {
  background-color: hsl(243, 87%, 12%);
  color: hsl(240, 75%, 98%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5em 3em;
  gap: 4em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.two a {
  color: white;
}
.three a {
  color: white;
}

.two,
.three,
.four {
  padding-top: 4em;
  padding-left: 5em;
}

.one p {
  padding-top: 1em;
  margin-left: 0.6em;
  padding-right: 1em;
}

.fb,
.tw,
.ig {
  fill: currentColor;
  margin: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 768px) {
  /*Extra small devices(phones, 600px and down*/

  body {
    width: 700px;
    min-width: 375px;
  }

  .logo {
    width: 100%;
  }

  nav {
    padding-left: 1.5em;
  }

  .re li {
    margin-left: 2.5em;
  }

  .row {
    display: inline;
  }

  .box1 h1 {
    font-size: 4em;
    margin-top: 1em;
    width: 100%;
    text-align: center;
  }

  .box1 p {
    font-size: 2.8em;
    width: 100%;
    margin-left: 0em;
    margin-top: 1.5em;
    text-align: center;
  }

  .pic1 {
    width: 100%;
  }

  .wrapper {
    display: inline;
  }

  .mails {
    margin-left: 2.5em;
  }

  #e-mail {
    width: 150%;
    padding: 1em 2em;
    margin-top: 1.3em;
    border-radius: 3px;
    font-size: 25px;
  }

  .get {
    width: 256%;
    margin-top: 1em;
    padding: 1em;
    margin-left: 1.8em;
    font-size: 25px;
    border-radius: 3px;
  }

  .box3 h1 {
    font-size: 3em;
    text-align: center;
  }

  .box3 p {
    width: 90%;
    margin-top: 1.3em;
    text-align: left;
    font-size: 2.4em;

    margin-left: 1.2em;
  }

  .box3 a {
    font-size: 1.5em;
  }

  .ace {
    margin-top: 3em;
    margin-bottom: 4em;
    text-align: center;
  }

  .dash {
    margin-left: 21.7em;
    width: 14.5em;
    border: 1px solid hsl(170, 45%, 43%);
  }

  blockquote {
    width: 65%;
    padding-top: 2em;
    padding-bottom: 6em;
    padding-left: 2em;
    padding-right: 1em;
    margin-left: 10em;
  }

  .quote p {
    font-size: 23.5px;
    margin-left: 0.8em;
  }

  .quote svg {
    margin-left: 1em;
  }

  .face {
    margin-left: 1em;
  }
  .kb {
    font-size: 17px;
    line-height: 1.3;
    margin-top: 1em;
    margin-left: 1em;
  }

  .wasp {
    display: inline-grid;
  }

  .box5,
  .box6 {
    width: 100%;
  }

  .box5 {
    text-align: center;
    padding-bottom: 0em;
  }

  .box5 h1 {
    font-size: 3.5em;
  }

  .box5 p {
    width: 90%;
    margin-left: 1em;
    font-size: 2.5em;
  }

  .box6 {
    padding: 0 3em;
    padding-bottom: 7em;
  }

  #email {
    width: 70%;
    padding: 0.9em 1em;
    margin-top: 1em;
    margin-left: 5.5em;
    border-radius: 3px;
    font-size: 22px;
  }

  .button {
    width: 70%;
    padding: 0.9em 0;
    margin-top: 0.6em;
    font-size: 22px;
    margin-left: 5.5em;
    border-radius: 3px;
  }

  .para {
    display: grid;
    grid-template-columns: 1fr;
  }

  .para p {
    font-size: 2.5em;
  }

  .four {
    margin-left: 20em;
  }
}

@media only screen and (max-width: 1024px) {
  /*Small devices(portrait tablets and large phones, 600px and up */
  body {
    width: 960px;
    min-width: 769px;
  }
}

@media only screen and (min-width: 768px) {
  /*Medium devices(landscape tablets, 768px and up*/
}

@media only screen and (min-width: 992px) {
  /*Large devices(laptops/desktops, 992px and up*/
}

@media only screen and (min-width: 1200px) {
  /*Extra large devices(large laptops & desktops, 1200px and up*/
}
