* {
  box-sizing: border-box;
}

.wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-left: 3em;
  padding-right: 3em;
}

.re {
  text-align: end;
}

.re ul {
  list-style: none;
}

.re li {
  display: inline;
}

.re a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin-left: 2em;
}

section {
  margin-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.box1 {
  margin-top: 1em;
  width: 100%;
}

.box1 h1 {
  font-size: 3em;
}

.box1 p {
  width: 95%;
  font-size: 1.4em;
}

.box2 {
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/3;
}

.pic1 {
  width: 100%;
}

.wrapper {
  display: flex;
  width: 85%;
}

.mails {
  width: 60%;
}

.but {
  width: 35%;
}

#e-mail {
  width: 100%;
  padding: 1em 1em;
  border-style: none;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 1em;
}

.get {
  width: 100%;
  padding: 1.1em;
  margin-left: 1em;
  background-color: hsl(224, 93%, 58%);
  border-style: none;
  color: white;
  border-radius: 3px;
  font-size: 1em;
}

main {
  background: #f9f8fe;
  margin-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
}

.box3 {
  width: 100%;
}

.box3 p {
  width: 79%;
  font-size: 1.17em;
  margin-top: 1em;
}

.box3 h1 {
  font-size: 2.8em;
}

.ace a {
  color: hsl(170, 45%, 43%);
  text-decoration: none;
  font-size: 1.2em;
}

.ace a:hover {
  text-decoration: none;
  color: hsl(170, 45%, 43%);
}

.dash {
  border: 0.5px solid hsl(170, 45%, 43%);
  width: 11em;
}

blockquote {
  margin: 0;
  margin-top: 2em;
  background-color: white;
  padding: 2em;
  width: 60%;
  border-radius: 1%;
  padding-bottom: 5em;
  box-shadow: 1px 1px 3px gray;
}

.quote p {
  font-size: 1.1em;
  padding: 0;
  width: 99%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.face,
.kb {
  float: left;
}

.face {
  border-radius: 50%;
  width: 12%;
}

.kb {
  font-size: 1em;
  line-height: 1.3;
  margin-top: 0.4em;
  margin-left: 1em;
}

.box4 {
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/3;
  margin-top: 2em;
}

.pic2 {
  width: 100%;
}

.wasp {
  background-color: hsl(238, 22%, 44%);
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  width: 100%;
}

.box5 {
  color: white;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 3em;
}

.box5 h1 {
  font-size: 2.5em;
}

.box5 p {
  margin-top: 1em;
  font-size: 20px;
  width: 84%;
}

.box6 {
  padding-left: 9em;
  padding-top: 6em;
  padding-bottom: 3em;
  width: 100%;
}

.email {
  width: 85%;
  padding: 0.8em 0.8em;
  border-style: none;
  border-radius: 3px;
  font-size: 1em;
}

.button {
  width: 50%;
  padding: 0.8em;
  margin-top: 0.9em;
  background-color: hsl(224, 93%, 58%);
  border-style: none;
  color: white;
  border-radius: 3px;
  font-size: 1em;
}

.para {
  background-color: hsl(243, 87%, 12%);
  color: hsl(240, 75%, 98%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5em 3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.two a {
  color: hsl(240, 75%, 98%);
  text-decoration: none;
}

.three a {
  color: hsl(240, 75%, 98%);
  text-decoration: none;
}

.two,
.three,
.four {
  padding-top: 4em;
  padding-left: 5em;
}

.one p {
  padding-top: 1em;
  margin-left: 0.6em;
  padding-right: 1em;
  color: hsl(240, 75%, 98%);
}

.fb,
.tw,
.ig {
  fill: currentColor;
  margin: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 991px) {
  /*Extra small devices(phones, 600px and down*/
  body {
    width: 975px;
  }

  .wrap {
    padding-left: 2em;
    padding-right: 2em;
  }

  .re a {
    font-size: 1.3em;
    margin-left: 1em;
  }

  section {
    padding-left: 2em;
    padding-right: 2em;
  }

  .row {
    display: inline;
  }

  .box1 {
    text-align: center;
  }

  .box1 h1 {
    font-size: 4.5em;
  }

  .box1 p {
    width: 90%;
    font-size: 2.8em;
    text-align: center;
    margin: 0 auto;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2em;
  }

  .mails {
    width: 94%;
  }

  .but {
    width: 94%;
    margin: 1em 0;
  }

  #e-mail {
    font-size: 1.3em;
  }

  .get {
    margin-left: 0em;
    font-size: 1.3em;
  }

  main {
    margin-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 4em;
  }

  .box3 h1 {
    font-size: 2.8em;
    text-align: center;
  }

  .box3 p {
    width: 95%;
    font-size: 2.8em;
  }

  .ace {
    text-align: center;
    margin-top: 2em;
  }

  .ace a {
    text-align: center;
    font-size: 2em;
  }

  .dash {
    margin-left: 19em;
    width: 18em;
  }

  blockquote {
    margin: 0 auto;
    width: 80%;
    margin-top: 2em;
  }

  .quote p {
    margin-top: 0.4em;
    width: 100%;
    font-size: 1.9em;
  }

  .face {
    width: 10%;
  }

  .kb {
    font-size: 1.3em;
    margin-top: 0.4em;
  }

  .wasp {
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
  }

  .box5 {
    padding-bottom: 1em;
  }

  .box5 h1 {
    text-align: center;
    font-size: 3.5em;
  }

  .box5 p {
    margin: 0 auto;
    font-size: 2.8em;
    text-align: center;
  }

  .box6 {
    padding: 1em 1em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
  }

  .email {
    width: 60%;
    padding: 1em;
  }

  .button {
    width: 60%;
    padding: 1em;
  }

  .para {
    display: flex;
    flex-direction: column;
  }

  .one p {
    font-size: 1.6em;
  }

  .two,
  .three,
  .four {
    padding-top: 2em;
    padding-left: 1em;
  }

  .two,
  .three {
    font-size: 1.6em;
  }

  .four {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  /*Large devices(laptops/desktops, 992px and up*/
  body {
    width: 100%;
  }
}
